.containerMain {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

.titleBox {
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  overflow: visible;
  flex: 1;
}

.columnOrders {
  width: 608px;
  overflow-y: auto;
  max-height: calc(100vh - 150px);
  padding-right: 10px;
}

.columnInfo {
  overflow-y: auto;
  overflow-x: hidden;
  width: 580px;
  max-height: calc(100vh - 150px);
}

.content {
  overflow-y: scroll;
  width: 100%;
}